<div class="container">
  <img
    src="../../../assets/bem-agro.jpg"
    alt="logo-bem-agro"
    class="logo-bem-agro"
  />
  <div class="container-search">
    <input type="text" #username id="username" name="username" />
    <button
      mat-raised-button
      (click)="getUsers(username.value)"
      class="btn btn-"
    >
      Search
    </button>
    <button
      mat-raised-button
      (click)="getUsers(username.value)"
      class="btn btn-"
    >
      Mostrar usuarios
    </button>
  </div>
</div>
